<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en" ng-app="paginaWeb" ng-controller="ctrlVestirPagina">
<!--<![endif]-->

<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Recargas Electronicas Multiregion REDCELL</title>

<meta name="description" content="Vende tiempo aire sin montos mínimos, todas las compañías en un mismo saldo
Sitio 100% seguro · Sitio 100% confiable · Plataforma 100% gratis · Plataforma multimarca
Servicios: plataforma gratis, sin montos minimos, soporte en amplio horario" />
<meta name="author" content="Afira SA de CV" />

<meta name="keywords" content="como vender recargas telcel,como vender tiempo aire, vender tiempo aire,
 vende tiempo aire,como vendo recargas, recargas electrónicas,Vende recargas en tu negocio,
 quiero vender recargas electrónicas, recargas electrónicas de todas las compañías,
 recargas electrónicas de todas las compañías por internet, recargas electrónicas por internet,
 vender recargas electrónicas, venta de recargas electrónicas y pago de servicios, Plataformas de recargas,
 distribución de tiempo aire, distribución de recargas electrónicas, distribución de tae,
 plataforma de tiempo aire, vende recargas de celular, promotor de recargas electrónicas,
 recargas Todo Mexico, promotor de tiempo aire, Recarga de tiempo aire" />
 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" href="assets/img/favicon.png">

<link rel='stylesheet' href='assets/css/bootstrap.min.css' media="none" onload="if(media!='all')media='all'">
<link rel='stylesheet' href='assets/css/vendor.css' media="none" onload="if(media!='all')media='all'">

<link rel='stylesheet' href='assets/css/theme-4.css' id="theme" media="none" onload="if(media!='all')media='all'">
<link rel='stylesheet' href='assets/css/custom.css' media="none" onload="if(media!='all')media='all'"><!-- menu principal-->


</head>
<body>
<div class="row">
<div class="col-md-12">
<div class="page-loader">
<div class="spinner">
<div class="bounce1"></div>
<div class="bounce2"></div>
<div class="bounce3"></div>
</div>
</div> 

<header id="siteHeader" class="site-header site-header-fixed-top">
<nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon ti-layout-grid3-alt"></span>
</button>
<a class="navbar-brand" href="#">
<img class="navbar-brand-media-light" id="logoClienteEmpresa" alt="" />
<img class="navbar-brand-media-dark" id="logoNegroClienteEmpresa" alt="" />
</a>
</div> 
<div class="collapse navbar-collapse" id="navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a data-smooth-scroll="true" href="#home">Inicio</a></li>
<li><a data-smooth-scroll="true" href="#feature1">Características</a></li>
<li><a data-smooth-scroll="true" href="#screenshot">Producto</a></li>
<li><a data-smooth-scroll="true" href="#pricing">Planes</a></li>
<li><a data-smooth-scroll="true" href="#download">Descarga</a></li>
<li><a data-smooth-scroll="true" href="#contact">Acerca de</a></li>
<li><a class="menu-link" href="https://eventamovil.mx/login/">Plataforma</a></li>
</ul>
</div> 
</div>
</nav>



</header> 
<center>
<div class="main">
<div id="home" class="home-section home-hero align-outer bg-theme-1">
<img id="homeBgImg" width="100%" alt=""> <!--tamaño de imagen fondo-->
<div id="homeBgOverlay" class="bg-black" data-opacity=".60"></div>  <!--opacidad fondo obscuro-->
<div class="align-inner align-middle">
<div class="container">
<div class="home-row row">
<div class="home-left-col col-sm-7">

<h1 class="text-animate section-title">Iniciar es Facil y Seguro</h1>
<h4></h4>

   <!--texto animado-->

<p class="text-lead wow fadeInUp"></p>
<p class="text-lead wow fadeInUp">Conoce nuestra plataforma navegando en nuestro demo</p>
<p class="text-lead wow fadeInUp">Usuario: TIEMPO2018</p>
<p class="text-lead wow fadeInUp">Contraseña: Tae123$</p>
<a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s"  href="https://eventamovil.mx/login/" ng-if="contactoWhatsapp"> </span>DEMO</span></a>
<br>
<br>
<p class="text-lead wow fadeInUp">Atrae más clientes y genera más ingresos!!</p>
<div class="btn-wrap">
<a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" data-smooth-scroll="true" href="#download">Descargar App<span class="icon ti-arrow-circle-down"></span></a>
<a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s"  href="https://api.whatsapp.com/send?phone=527122367430&text=Hola%21%21%2C%20me%20pueden%20dar%20informaci%F3n%20sobre%20la%20venta%20de%20tiempo%20aire." ng-if="contactoWhatsapp"> <img src="assets/img/iconos-redes-sociales/whatsapp.png" style="width:100% !important;" alt=""> </span>712-236-7430</span></a>
</div></div></div></div></div></div></div>
</center>
</div>
</div>
<br>
<br>
<center>
<h2>Plataforma electrónica para la venta de tiempo aire y pago de servicios.
 Con la plataforma VENTA MOVIL podrás vender recargas electrónicas nacionales desde cualquier dispositivo
  electrónico, como tablet, celular o computadora.</h2>

</center>


<div id="service" class="service-section">
<div class="container">
<div class="service-row row">
<div class="col-md-12 wow fadeInUp">
<h1>Proceso de registro</h1>
</div>
<div class="iconbox col-sm-6 col-md-3 wow fadeInUp">
<div class="iconbox-media-icon">

<span class="media-obejct media-icon icon ti-write color-success"></span>
</div>
<div class="iconbox-header">
<h4 class="iconbox-header-title">1.- Regístrate, Tus datos se encuentran protegidos con la máxima seguridad.</h4>
</div>

</div> 
<div class="iconbox col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".2s">
<div class="iconbox-media-icon">

<span class="media-obejct media-icon icon ti-email color-info"></span>
</div>
<div class="iconbox-header">
<h4 class="iconbox-header-title">2.- Actívate, Contacta a un ejecutivo para realizar tu alta en el sistema..</h4>
</div>

</div> 
<div class="iconbox col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".4s">
<div class="iconbox-media-icon">

<span class="media-obejct media-icon icon ti-id-badge color-danger"></span>
</div>
<div class="iconbox-header">
<h4 class="iconbox-header-title">3.- Recibe un email o WhatsApp con tus credenciales</h4>
</div>

</div> 
<div class="iconbox col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".6s">
<div class="iconbox-media-icon">

<span class="media-obejct media-icon icon ti-desktop color-accent"></span>
</div>
<div class="iconbox-header">
<h4 class="iconbox-header-title">4.- Ingresa a tu plataforma, Obtén una ganancia por cada transacción que realices.</h4>
</div>



</div> 
</div>
</div>
</div> 
<div id="feature1" class="feature1-section">
<div class="container">
<div class="feature-1-row row">
<div class="feature-1-left-col col-sm-6">
<h2 class="section-title">Vende <b>recargas</b> y realiza cobro de servicios en una sola plataforma</h2>
<div class="feature-media-row row">
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-desktop color-primary"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Plataforma gratuita.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-lock color-accent"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Plataforma segura, confiable y moderna.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-list color-success"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Todas las compañias disponibles en México.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-id-badge color-muted"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Recarga a cualquier número nacional.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-alert color-warning"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Sin fallas.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-money color-info"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Sin monto mínimos de inversión.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-time color-accent"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Liberación de saldo en 15 minutos o menos. Puedes vender los 365 días del año, las 24 horas</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-headphone-alt color-black"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Te daremos asesoría y capacitación de cada forma de venta, para que puedas dar siempre el mejor servicio todo el año.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-arrow-right color-dan"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Amplio horario de atención.</h4>

</div>
</div>
</div>


<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-credit-card color-danger"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Cobro de Abonos Elektra.</h4>

</div>
</div>
</div>




<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-calendar color-warning"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Tu saldo nunca caduca.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-wallet color-default"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Sin anualidades.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-list-ol color-danger"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Mas de 40 productos disponibles.</h4>

</div>
</div>
</div>
<div class="feature-media-col col-md-6">
<div class="feature-media media">
<div class="media-left">
<span class="media-obejct media-icon icon ti-thumb-up color-info"></span>
</div>
<div class="media-body">
<h4 class="media-heading">Un solo saldo para todos los productos.</h4>

</div>
</div>
</div>
</div>
</div> 
<div class="feature-1-right-col col-sm-5 col-sm-offset-1">
<div class="double-screen-right">
<img class="screen top" src="assets/img/feature/linntae-menu-principal-app.png" alt="">
<img class="screen bottom" data-sr="right" src="assets/img/feature/linntae-login.png" alt="">
</div>
</div> 
</div>
</div>
</div> 
<div id="feature2" class="feature2-section">
<div class="container">
<div class="feature-2-row row">
<div class="feature-2-right-col col-sm-6 col-sm-offset-1">
<h2 class="section-title">Nuestras <b>cuentas bancarias</b> disponibles</h2>
<ul class="feature-list">
<li><img src="assets/img/icon-bancos/icon-banco-azteca.png" style="width: 50px" alt="banamex"> <b style="color: green">Banco Azteca</b></li>
<li><img src="assets/img/icon-bancos/icon-santander.jpg" style="width: 50px" alt="santander"> <b style="color: #fe0000">Santander</b></li>
<li><img src="assets/img/icon-bancos/icon-bancomer.png" style="width: 50px" alt="bancomer"> <b style="color: #1052a1;">Bancomer</b></li>
<li><img src="assets/img/icon-bancos/icon-banorte.png" style="width: 50px" alt="banorte"> <b style="color: #a51e1e;">Banorte</b></li>
</ul>
<img src="assets/img/icon-bancos/corresponsales-banorte.jpg" style="width: 70%" alt="">
<div class="btn-wrap">
<a class="btn btn-lg btn-theme-1" data-smooth-scroll="true" href="#download">Descarga App <span class="icon ti-arrow-circle-down"></span></a>
<a class="btn btn-lg btn-default" data-smooth-scroll="true" href="#watchVideo">Leer más <span class="icon ti-arrow-circle-down"></span></a>
</div>
</div> 
<div class="feature-2-left-col col-sm-5">
<div class="double-screen-left">
<img class="screen top" src="assets/img/feature/linntae-registrar-deposito.png" alt="Recarga depositos para timepo aire">
<img class="screen bottom" src="assets/img/feature/linntae-menu-principal-app.png" data-sr="left" alt="">

</div>
</div> 
</div>
</div>
</div> 






<div id="watchVideo" class="watch-video-section">
<div class="text-cover top right">HOW IT WORKS</div>
<div class="container">
<div class="watch-video-row row">
<div class="watch-video-left-col col-sm-6">
<h2 class="section-title">Ver <b>Video</b></h2>


<iframe width="560" height="315" src="https://www.youtube.com/embed/bS_X6FwgFLI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Razones de por que debes vender recargas electrónicas en tu negocio</h3>
<p class="text-lead">
<lu>
<li><b>Canasta básica:</b> en la actualidad de cada 10 negocios, 8 venden recargas.</li>
<li><b>Ganancias extras:</b> puedes generar ganancias mensuales de $2000.00 o más.</li>
<li><b>REDCELL PLUS:</b> ofrecemos conocimiento, tecnología y calidad.
<li><b>Veneficios:</b> ofrecer la mejor experiencia de servicio a todo tipo de clientes..</li>

<li><b>Atraes mas clientes:</b> los clientes buscan negocios donde puedan hacer sus recargas y de paso compran algún producto extra.</li>
</lu>
</p>
</div> 
<div class="watch-video-right-col col-sm-5 col-sm-offse t-1">
<img src="assets/img/watch-video/punto_de_venta.png" alt="" data-sr="bottom">
</div> 
</div>
</div>
</div> 
<div id="screenshot" id="skill" class="skill-section">
<div class="container">
<div class="skill-row row">
<div class="skill-left-col col-sm-6">
<h2 class="section-title">Nuestros <b>productos</b></h2>
<p class="text-lead">REDCELL Plus acompaña a sus clientes para formular un plan de negocio y proyecto de vida que impulse el cumplimiento de sus metas financieras, creando su propia red de distribución, registrando clientes que les generen ingresos residuales. 
La plataforma más <b>amigable</b> del mercado, ponemos a tu disposición los productos más demandados en el mercado. 
Nuestro proceso de registro es rápido y sencillo, registrate con la asesoría de uno de nuestros ejecutivos, tu registro e instalación de la plataforma durará 10 minutos. Tu registro es completamente gratis, sin anualidad ni rentas. </p>

<div class="btn-wrap">
<a class="btn btn-lg btn-theme-1" data-smooth-scroll="true" href="#download">Descargar app <span class="icon ti-arrow-circle-down"></span></a>
<a class="btn btn-lg btn-default" data-smooth-scroll="true" href="#screenshot">Leer más<span class="icon ti-arrow-circle-down"></span></a>
</div>
</div> 
<div class="skill-right-col col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
<div class="progress-text">
<h6 class="progress-title color-primary"><span class="glyphicon glyphicon-phone "></span> Tiempo aire</h6>
<div class="progress-percent">Todas las compañias</div>
</div>
<img src="assets/img/img-productos/listaCompanias.png" alt="" width="100%">
<br>
<br>
<div class="progress-text">
<h6 class="progress-title color-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Pago de servicios</h6>
<div class="progress-percent">Mas de 40 servicios</div>
</div>
<img src="assets/img/img-productos/listaServicios.png" alt="" width="100%">
<br>
<br>
<div class="progress-text">
<h6 class="progress-title color-primary"><span class="glyphicon glyphicon-music"></span> Pines electrónicos</h6>
<div class="progress-percent">mas de 20 pines</div>
</div>
<img src="assets/img/img-productos/listaPines.png" alt="" width="100%">
</div> 
</div>
</div>
</div> 
<div class="screenshot-section">
<div class="container">
<div class="screenshot-title-row row e">
<div class="screenshot-title-col col-sm-8 col-sm-offset-2">
<h2 class="section-title">Vista previa de la <b>plataforma</b> en diferentes medios.</h2>
<p class="text-lead">Usa tu plataforma de recargas en los diferentes medios que ponemos a tu disposición(página web, web móvil, applicación android, whatsapp, telegram y SMS).</p>
</div> 
</div> 
<div id="screenshotCarousel" class="popup-gallery bfc-carousel wow fadeIn text-center">
<div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">App android</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/img-recargas-android-popup.png" title="Media title"> 
<div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/img-recargas-android.png" alt=""> 
</div>
</a>
</div> 
<div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">WhatsApp</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/img-recargas-whatsapp-popup.png" title="Media title"> 
<div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/img-recargas-whatsapp.png" alt=""> 
</div>
</a>
</div> 
<div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">SMS</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/img-recargas-sms-popup.png" title="Media title"> 
 <div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/img-recargas-sms.png" alt=""> 
</div>
</a>
</div> 
<div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">Java</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/java-vm-popup.png" title="Media title"> 
 <div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/java-vm.png" alt=""> 
</div>
</a>
</div> <div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">Windows</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/windows-app-popup.png" title="Media title"> 
 <div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/windows-app.png" alt=""> 
</div>
</a>
</div> 
<div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">Telegram</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/img-recargas-telegram-popup.png" title="Media title"> 
<div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/img-recargas-telegram.png" alt=""> 
</div>
</a>
</div> 
<div class="bfc-carousel-item popup-gallery-item">
<h4 class="color-info">Web</h4>
<a class="bfc-carousel-item-link popup-gallery-link" href="assets/img/screenshot/img-recargas-facebook-popup.png" title="Media title"> 
<div class="bfc-carousel-item-media">
<img class="bfc-carousel-item-media-img" src="assets/img/screenshot/img-recargas-facebook.png" alt=""> 
</div>
</a>
</div> 
</div>
</div>
</div> 
<div id="number" class="number-section">
<div class="container">
<div class="row">
<div class="number-box-col col-xs-12 col-sm-12">
<h1>Plataforma disponible en</h1>
<img src="assets/img/multiplataforma.png" class="img-responsive" alt="Multiplataforma" />
</div>
</div>
</div>
</div> 
<div id="pricing" class="pricing-section">
<div class="container">
<div class="row title-row">
<div class="col-sm-8 col-sm-offset-2">
<h2 class="section-title">Tenemos los mejores <b>Planes</b> para ti.</h2>
<p class="text-lead">Elige el plan que mas se acomode a tus necesidaes y empieza a generer ingresos extras.</p>
</div>
</div>
<div class="row content-row">
<div class="pricing-table-col col-sm-6 col-md-4 wow fadeInUp">
<div class="pricing-table">
<div class="pricing-table-header">
<div class="pricing-table-header-title">Plan pyme</div>
</div>
<div class="pricing-table-media">
<img src="assets/img/pricing-table/pricing-table-icon-3.png" alt="" class="wow bounceIn" data-wow-dalay=".5s">
</div>
<div class="pricing-table-content">

<div class="pricing-table-detail">
<div class="pricing-table-detail-item">
Te ofrecemos la plataforma más segura y amigable del mercado, nuestra plataforma está diseñada para la perfecta administración de cada uno de tus puntos de venta tengas una o mil sucursales, puedes asignar permisos personalizados para cada uno de tus cajeros, asi veran solo lo que quieres que vean, puedes realizar cortes para cada cajero, y como dueño de tu negocio siempre tendras las cuentas claras con una variedad de reportes.
</div>
</div>
</div>
<div class="pricing-table-footer">
<div class="btn-wrap">
<a class="btn btn-lg btn-theme-1" href="#registro">Regístrate</a>
</div>
</div>
</div> 
</div>
<div class="pricing-table-col col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
<div class="pricing-table">
<span class="pricing-table-badge"></span>
<div class="pricing-table-header">
<div class="pricing-table-header-title">Plan personal</div>
</div>
<div class="pricing-table-media">
<img src="assets/img/pricing-table/pricing-table-icon-2.png" alt="" class="wow bounceIn" data-wow-dalay=".3s">
</div>
<div class="pricing-table-content">

<div class="pricing-table-detail">
<div class="pricing-table-detail-item">Gana con tu móvil.</div>

<div class="pricing-table-detail-item">
Si cuentas con un smartphone o tablet puedes ganar desde cualquier lugar que te encuentres, puedes ganar con amigos, familiares, vecinos, compañeros de trabajo, con todo el mundo, no te pierdas de esta gran oportunidad toma el control y convierte tu equipo celular en tu negocio.
</div>
</div>
</div>
<div class="pricing-table-footer">
<div class="btn-wrap">
<a class="btn btn-lg btn-theme-1" href="#registro">Regístrate</a>
</div>
</div>
</div> 
</div>
<div class="pricing-table-col col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 wow fadeInUp" data-wow-delay="0.4s">
<div class="pricing-table">
 <div class="pricing-table-header">
<div class="pricing-table-header-title">Plan Empresarial</div>
</div>
<div class="pricing-table-media">
<img src="assets/img/pricing-table/pricing-table-icon-1.png" alt="" class="wow bounceIn" data-wow-dalay=".1s">
</div>
<div class="pricing-table-content">


<div class="pricing-table-detail-item"> Gana a traves de distrubución</div>

<div class="pricing-table-detail-item">
Si ya tienes experiencia o inquietud en la distribución de tiempo aire, este plan es perfecto para ti, puedes tener tu propia marca personalizada ó usar la nuestra, cuentas con una oficina virtual para gestionar a todos tus clientes, o si cuentas con un punto de venta contamos también con un api de integración web service, contactanos para más detalles.
</div>
</div>
<div class="pricing-table-footer">
<div class="btn-wrap">
<a class="btn btn-lg btn-theme-1" href="#registro">Regístrate</a>
</div>
</div>
</div>
</div> 
</div>
</div>
</div>
</div> 
<div id="download" class="download-section">
<div class="container">
<div class="row download-row">
<div class="download-left-col col-sm-8 col-lg-7">
<h2 class="section-title">Descarga <b>gratis</b> nuestra app desde google play.</h2>
</div>
<div class="download-right-col col-sm-4 col-lg-offset-1">
<div class="btn-wrap">
<a class="btn btn-lg btn-success" data-wow-delay=".2s" href="https://play.google.com/store/apps/details?id=com.recargatodoapp">Google Play <span class="icon ti-android"></span></a>

</div>
</div>
</div>
</div>
</div> 
<div id="contact" class="contact-section">
<div class="container">
<div class="contact-title-row row">
<div class="contact-title-col col-sm-6">
<h2 class="section-title">Acerca de <b>nosotros</b></h2>
<p class="text-left">
REDCELL SURGIO EN EL AÑO 2012, EMPRESA CON MÁS DE 8 AÑOS DE EXPERIENCIA EN EL COMERCIO ELECTRÓNICO ofreciendo los servicios por los medios de comunicacion y redes sociales, un equipo de jóvenes mexicanos emprendedores que amamos lo que hacemos y que descubrimos que las plataformas electrónicas tienen muchas muchas oportunidades de mejora e innovación .
</p>
<p class="text-left">
Por esta razón nace en el año 2019 Afira.inc, en el municipio de ixtlahuaca, en una pequeña vitrina teniendo exito en venta de tiempo aire y ofreciendo soporte en internet y reparaciones tanto de telefonia como de computo entre otros electronicos, empezo su crecimiento en tan solo 1 año así constituyendo, la matriz. comprometida con la tecnología informática. Garantizamos que estamos a la vanguardia para dar soluciones de impacto
 para crecer a nuestros clientes en todos los niveles con el objetivo de mejorar los servicios ofrecidos actualmente en el mercado.</p>
<p class="text-left">ENFOCADOS EN LA COMERCIALIZACIÓN DE TIEMPO AIRE ELECTRÓNICO De todas las Compañías y Cobros de Servicios.</p>

</div>
<div class="col-sm-6">
<div class="contact-title-col col-sm-12">
<h2 class="section-title">Nuestra <b>misión</b></h2>
<p class="text-left">
Somos un equipo con la misión de anticiparnos a las necesidades de las personas ofreciendo productos de la más alta calidad para mejorar el estilo de vida a través de soluciones tecnológicas innovadoras, reinventándonos para nuestro crecimiento constante en el mercado de la telefonía, accesorios para celulares, computo y mas.
</p>
</div>
<div class="contact-title-col col-sm-12">
<br>
<br>
<h2 class="section-title">Nuestra <b>visión</b></h2>
<p class="text-left">
Ser una empresa líder en el crecimiento en la región consolidando su nombre en el mercado de la telefonía, y accesorios ofreciendo variedad y calidad nacional, reconocida por la experiencia gratificante en el uso de nuestros productos y servicio al cliente.
</p>
</div>
</div>
</div>
<br>
<br>
</div>



















<!--
<div class="faq-section contact-info-col col-sm-12">

<div class="contact-info col-lg-6 col-md-offset-3">
<ul class="media-list">
<li class="media">
<div class="media-left">
<img class="media-object" src="assets/img/contact/location-icon.png" alt="">
</div>
<div class="media-body">
<h4 class="media-heading">dirección</h4>
<p>Av. Gustavo Baz #405 Interior Ixtlahuaca, Edo. de Mex</p>
</div>
</li>
<li class="media">
<div class="media-left">
<img class="media-object" src="assets/img/contact/phone-icon.png" alt="">
</div>
<div class="media-body">
<h4 class="media-heading">Teléfonos</h4>
<p>+52 712-236-7430</p>
</div>
</li>
<li class="media">
<div class="media-left">
<img class="media-object" src="assets/img/contact/email-icon.png" alt="">
</div>
<div class="media-body">
<h4 class="media-heading">Escríbenos</h4>
<p>584009red@gmail.com</p>
</div>
</li>
</ul>
</div>
</div>-->
</div>



















<footer class="site-footer">



<!--
<div id="siteFooterTop" class="site-footer-top-section">
<div class="container">
<div class="site-footer-top-row row">
<div class="site-footer-top-col col-sm-8 col-sm-offset-2">
<h2 class="section-title">
El único modo de hacer un gran trabajo <br /> es amar lo que haces
<br>
<small>Steve Jobs</small>
</h2>
</div>
</div>
</div>
</div> 
-->


<div id="siteFooterBottom" class="site-footer-bottom-section">
<div class="container">
<div class="site-footer-bottom-border"></div>
<div class="row">
<div class="site-footer-bottom-left-col col-md-6">
<div class="site-footer-brand">

</div>






<h4>El único modo de hacer un gran trabajo es amar lo que haces
<br>
<small>Steve Jobs</small>
</h4>


</div>
<div class="site-footer-bottom-right-col col-md-6">
<ul class="site-footer-bottom-social-list">
<li class="wow fadeInRight"><a href="https://www.facebook.com/TecnicosGrupoAfira/" target="_blank">
<span class="icon ti-facebook"></span></a></li>
<li class="wow fadeInRight" data-wow-delay="0.1s"><a href="https://www.youtube.com/channel/UCzig387FyJS9jjTctGn0xrQ" target="_blank"><span class="icon ti-youtube"></span></a></li>



</ul>
<div class="site-footer-bottom-copyright">Lideres en Afira © 2019. Todo los derechos reservados.</div>
</div>
</div>
</div>
</div> 
</footer>


<div id="divChat" style="padding: 0px; display: none; z-index: 9999999;">
<div class="col-lg-12 col-md-12" id="estiloEncabezadoChat">
<span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" style="padding-right: 10px; margin-top: 18px; color: white"></span>
<strong class="pull-left" style="color: white; margin-top: 15px; margin-left: 10px"><span class="glyphicon glyphicon-comment"></span> Chat</strong>
</div>
<div id="chatMessages" style="padding:0px 10px 0px 10px;">
<div class="widget-body">
<div class="widget-main no-padding">
<div class="dialogs" id="areaChat" style="width:100%; height:340px; overflow: auto; color: rgba(0, 0, 0, 0.82)">
</div></div></div></div></div>

</div>
</div>

<script src='assets/js/jquery-1.11.3.min.js'></script>
<script src='assets/js/bootstrap.min.js'></script>
<script src='assets/js/vendor.js'></script>
<script src='assets/js/main.js'></script>

<script type="text/javascript">

    var isMobile = {
        Android: function () {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function () {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function () {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function () {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function () {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function () {
            if (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows()) {
                return true;
            } else {
                return false;
            }
        }
    };

    if (isMobile.any()) {
//        $("#abrirChat").removeClass("col-sm-12")

        $("#botonF2").hide();

        $("#abrirChat").css("left", "0px")
        $("#abrirChat").css("width", "96.4%")
        $("#abrirChat").css("height", "100%")
        $("#abrirChat").css("margin-bottom", "0px")


        $("#divChat").css("left", "0px")
        $("#divChat").css("width", "96.4%")
        $("#divChat").css("height", "100%")
        $("#divChat").css("margin-bottom", "0px")

        $("#buzonSugerencia").css("left", "0px")
        $("#buzonSugerencia").css("width", "96.4%")
        $("#buzonSugerencia").css("height", "100%")
        $("#buzonSugerencia").css("margin-bottom", "0px")

        $("#chatWhatsapp").hide()
        $("#homeBgImg").attr("src", "assets/img/media/img-fondo-index-movil.png");
        $("#homeBgImg").addClass("img-responsive");

    } else {
        $("#chatLinntae").show()
        $("#homeBgImg").attr("src", "assets/img/media/img-fondo-index.png");
        $("#homeBgImg").removeClass("img-responsive");


    }


</script>
</body>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
</html>
